﻿body {
}

.FormPrincipal
{
	float: none;
    margin-top: 150px;
    max-width: 45%;
    margin-left: auto;
    margin-right: auto;
    /*text-align: center;*/
    /*border: 1px solid #ccc;*/
    padding: 5px;
}

.btn-Login
{
	width: 100%;
	display: block;
	background-color: orange;
	border-color: orange      
}

	.btn-Login:hover
	{ 
		background-color:#FFB62D;
		border-color: #FFB62D
	}

.form-control:hover
{
	border-color: #FFB62D
} 

.form-control:focus 
{

	border-color: #FFB62D;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 182, 45, .6);
     box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 182, 45, .6);
}
.Image-group
{
	text-align: center;

}